<div class="login-body">
  <div class="login-wrapper p-fluid">
    <div class="p-d-flex p-flex-column">
      <div class="p-d-flex p-ai-center p-mb-2 logo-container">
        <h4>Login</h4>
      </div>
      <div class="form-container">
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input type="text" autocomplete="off" pInputText placeholder="Username">
        </span>
        <span class="p-input-icon-left">
          <i class="pi pi-key"></i>
          <input type="password" autocomplete="off" pInputText placeholder="Password">
        </span>
      </div>
    </div>

    <div class="login-footer p-d-flex p-ai-center">
      <div class="p-d-flex p-ai-center login-footer-logo-container">
        <img src="assets/images/logo.jpg" class="login-footer-logo" />
      </div>
      <span>Copyright 2021</span>
    </div>
  </div>
</div>